div {
  display: inline-block;
  overflow: auto;
}
.cell {
  border: 1px solid black;
  text-align: center;
}
.nameInp, .sportInp, .solaryInp, .cell {
  margin:1px;
  width:200px;
  height: 40px;
}
.nameInp{
  margin-bottom: 20px;
}
.table {
  width:1000px;
}
.table-header {
  font-weight: bold;
  text-align: center;
}
